* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
  border: dotted 10px red;
  

}

#map {
  height: 1000vh;
  width: 100vw;
  /* border: dotted; */
}

